<!doctype html>
<html lang="en">

<head>
    <title>Utilita DashBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This page loads L and G">
    <link href="./bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
</head>

<body style="max-height: 300px;overflow: hidden;">

    <!-- Begin page content -->
    <main role="main" class="main_container">
        <h2 class="mt-2 text-center">404 - Page Not Found</h2>
        <p class="mt-2 text-center"><a href="/index.html" class="btn btn-lg btn-link">Go
                Home</a></p>
        <div class="table-responsive">
            <img src="./views/404.png" alt="Page Not Found"
                style="display: block;margin-left: auto;margin-right: auto;width: 50%;" />
        </div>
    </main>
    <script>
        showDashboardFooter();
    </script>
</body>

</html>